/* Comment */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "modules/heading.scss";
@import "modules/navigation.scss";
@import "modules/mainn.scss";
@import "modules/lessons.scss";
@import "modules/lesson.scss";
@import "modules/extras.scss";
@import "modules/extra.scss";
@import "modules/weeks.scss";
@import "modules/week.scss";


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #eb5757; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #eb5757
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #000000,
    #eb5757
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px auto;
  text-align: justify;
}

.footer {
  text-align: center;
  color: #ffffff;
  &__link {
    color: #920736;
    &:hover {
      color: #ec5b8c;
    }
  }
}


.grid1 {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px;
  }
}

.grid {
  @media screen and (min-width: 768px) {  
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px;
      }
  }
  
