body {
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("pink dust.png");
  font-family: Georgia, "Times New Roman", Times, serif;
}

.heading__title {
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
  font-size: 35px;
}

.main-header-paragraph,
.heading__paragraph {
  text-align: center;
  color: #e0c2cc;
  font-size: 15px;
  letter-spacing: 2px;
}

.navigation {
  text-align: center;
  font-size: 20px;
}

.navigation__link {
  text-decoration: none;
  color: #ec5b8c;
  border-right: 1px solid #b40d45;
  padding: 5px;
  letter-spacing: 1px;
}

.navigation__link:hover {
  color: #b40d45;
}

.main-header {
  font-size: 30px;
  background-color: #f49fbc;
  color: #920736;
  margin: 20px 300px;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}

.lessons__title,
.extras__title {
  font-size: 23px;
  background-color: #f7b5cb;
  color: #920736;
  margin: 20px 400px;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}

.lesson,
.extra {
  background-image: url("pink_rice.png");
  margin: 20px 200px;
  padding: 5px 20px;
  border-radius: 20px;
}

.lessons__title,
.extra__title {
  color: #b40d45;
  font-size: 18px;
}

.lesson__description-link,
.extra__list-item-link {
  text-decoration: none;
  color: #470a1e;
}

.lesson__description-link:hover,
.extra__list-item-link:hover  {
  color: #ec5b8c;
}

.footer {
  text-align: center;
  color: #ffffff;
}

.footer__link {
    color: #920736;
}

.footer__link:hover {
    color: #ec5b8c;
}
